---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=OPEN_KEY&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664303049,"sunrise":1664283136,"sunset":1664326167,"temp":73.8,"feels_like":72.43,"pressure":1022,"humidity":33,"dew_point":42.93,"uvi":5.46,"clouds":32,"visibility":10000,"wind_speed":1.99,"wind_deg":324,"wind_gust":5.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1664301600,"temp":73.8,"feels_like":72.43,"pressure":1022,"humidity":33,"dew_point":42.93,"uvi":5.46,"clouds":32,"visibility":10000,"wind_speed":4.03,"wind_deg":89,"wind_gust":4.45,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1664305200,"temp":74.88,"feels_like":73.42,"pressure":1021,"humidity":29,"dew_point":40.51,"uvi":5.81,"clouds":35,"visibility":10000,"wind_speed":3.04,"wind_deg":20,"wind_gust":3.09,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.15},{"dt":1664308800,"temp":73.81,"feels_like":72.39,"pressure":1020,"humidity":32,"dew_point":42.15,"uvi":5.3,"clouds":46,"visibility":10000,"wind_speed":18.68,"wind_deg":265,"wind_gust":18.95,"weather":[{"i[...]
